.slideshow {
    margin: 0 auto;
    overflow: hidden;
    max-width: 500px;
  }
  
  .slideshowSlider {
    /* display: flex; */
    white-space: nowrap;
    transition: ease 2000ms;
  }
  
  .slide {
    display: inline-block;
    height: 250px;
    width: 500px;
    border-radius: 40px;
    margin-top: 40px;
  }
  
  /* Buttons */
  
  .slideshowDots {
    text-align: center;
  }
  
  .slideshowDot {
    display: inline-block;
    height: 5px;
    width: 5px;
    border-radius: 50%;
   cursor: pointer;
    margin: 15px 7px 0px;
  
    background-color: #c4c4c4;
  }
  
  .slideshowDot.active {
    background-color: #6a0dad;
  }
  @media only screen and (max-width: 768px) {
   .asp-slider p{
   width: 90%;
   /* margin-left: 1rem; */
   text-align: center;
   }
    .slideshow {
      width: 100%;
    }
    .slide {
      margin-top: 20px;
      width: 100%;
      margin-left: 10px;
    }

  }